* {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    background-color: black;
    color: white;
    font-family: "Inter";
    font-size: 14px;
    /* overflow-y: hidden;  */
    scrollbar-width: 0;
}

img {
    object-fit: contain;
}

::-webkit-scrollbar {
    width: 0;
}

#app {
    /* display: flex;
    flex-direction: column; */
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#top-section {
    display: grid;
    grid-template-columns: 20% 80%;
    flex-grow: 1;
    overflow-y: hidden;

}

#library-side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151515;
    border-right: 1px solid #333;
    padding: 24px;
    padding-top: 12px;
}

.library-item {
    width: 100%;
    background-color: #333;
    border-radius: 16px;
    height: 100px;
    margin-top: 12px;
    padding: 12px;
    display: flex;
    font-size: 42px;
    align-items: end;
    line-height: 36px;
    font-weight: 800;
}

.library-item:first-child {
    margin-top: 0;
}

#displaying-artist {
    font-size: 64px;
    font-weight: 600;
    padding: 16px;
    line-height: 64px;
}

#song-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
}

#stupid-pillow {
    width: 98%;
    height: 72px;
    display: flex;
    margin-top: 6px;
    border-radius: 10px;
    transition: background-color 0.1s;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

#list-guide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
}

.song-list-item {
    width: 98%;
    height: 72px;
    background-color: #151515;
    display: flex;
    margin-top: 6px;
    border-radius: 10px;
    transition: background-color 0.1s;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

#initial-list-item {
    height: 32px;
    color: #aaa;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #333;
    margin-bottom: 8px;
}

.song-list-item:hover {
    background-color: #1c1c1c;
}

.song-list-item:first-child {
    margin-top: 0;
}

.song-list-cover {
    width: 56px;
    height: 56px;
    margin-left: 8px;
    border-radius: 8px;
}

.song-list-first-column {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 12px;
    padding-right: 12px;
}

.song-list-artists {
    color: #aaa;
    font-size: 12px;
    margin-top: 4px;
}

.song-list-album {
    width: 350px;
    color: #aaa;

}

.song-list-genre {
    width: 200px;
    color: #aaa;

}

.song-list-release-date {
    width: 200px;
    color: #aaa;
}

.song-list-buttons {
    display: flex;
    margin-left: auto;
}

.song-list-button {
    color: #aaa;
    width: 24px;
    height: 24px;
    font-size: 18px;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.1s, color 0.1s, transform 0.1s;
}

.song-list-button:last-child {
    margin-right: 16px;
}

.song-list-button:hover {
    color: #888;
}

.song-list-button:active {
    transform: scale(90%);
}

#bottom-section {
    border-top: 1px solid #333;
    /* width: 100%; */
    height: 84px;
    background-color: #151515;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

#music-info-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#info-song-cover {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    margin-right: 12px;
}

#info-song-title {
    font-weight: 500;
}

#info-song-artists {
    font-size: 12px;
    color: #aaa;
    margin-top: 4px;
}

#media-controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#progress-bar-container {
    margin-top: 8px;
    display: flex;
}

.progress-time {
    font-size: 12px;
    color: #aaa;
}

#progress-bar {
    width: 28vw;
    height: 6px;
    border-radius: 100px;
    background-color: #444;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;
}

#progress {
    background-color: rgb(119, 88, 255);
    width: 50%;
    height: 100%;
    border-radius: 100px;
}

#media-buttons {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.media-button {
    color: #aaa;
    width: 24px;
    height: 24px;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.1s, color 0.1s, transform 0.1s;
}

div.media-button {
    font-size: 10px;
    font-weight: 800;
    padding: 2px;
    background-color: #aaa;
    color: #151515;
    height: 12px;
    border-radius: 4px;
    margin-bottom: 1px;
}

.media-button:hover {
    color: #888;
}

.media-button:active {
    transform: scale(90%);
}

div.media-button:hover {
    background-color: #888;
    color: #151515;
}

#play-pause-button {
    background-color: rgb(119, 88, 255);
    border-radius: 12px;
    padding: 8px;
    color: white;
}

#play-pause-button:hover {
    background-color: #333;
    color:rgb(119, 88, 255);
}

#other-functions-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 12px;
}

#other-function-buttons {
    display: flex;
}

.other-function-button {
    color: #aaa;
    width: 24px;
    height: 24px;
    font-size: 18px;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.1s, color 0.1s, transform 0.1s;
}

.other-function-button:hover {
    color: #888;
}

.other-function-button:active {
    transform: scale(90%);
}

#volume-container {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

#volume-bar {
    width: 7vw;
    height: 5px;
    border-radius: 100px;
    background-color: #444;
    margin-bottom: 2px;
    margin-left: 2px;
}

#volume-progress {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    border-radius: 100px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1200px) {
    .library-item {
        font-size: 30px;
    }
}